@using ControleDeContatos.Enums;
@model UsuarioModel
@{ 
    ViewData["title"] = "Criar novo usuário";
}



<div>
    <h1 class="text-center">Cadastrar usuário</h1>
    <div class="row justify-content-center">
        <form class="col-10 col-md-7 col-lg-5" asp-controller="Usuario" asp-action="Criar" method="post">
            <div class="mb-3">
                <label for="Nome" class="form-label">Nome</label>
                <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome completo">
                @Html.ValidationMessageFor(x => x.Nome)
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail">
                @Html.ValidationMessageFor(x => x.Email)
            </div>

            <div class="mb-3">
                <label for="Login" class="form-label">Login</label>
                <input type="text" asp-for="Login" class="form-control" placeholder="Digite seu usuário">
                @Html.ValidationMessageFor(x => x.Login)
            </div>

            <div class="mb-3">
                <label for="Senha" class="form-label">Senha</label>
                <input required type="password" asp-for="Senha" class="form-control" placeholder="Digite a senha">
                @Html.ValidationMessageFor(x => x.Email)
            </div>

            <div class="mb-3">
                <label for="Login" class="form-label">Login</label>
                <select class="form-control">
                    <option value="0">Selecione perfil</option>
                    <option value="@PerfilEnum.Admin">Administrador</option>
                    <option value="@PerfilEnum.Padrao">Padrão</option>
                </select>
            </div>

            <button type="submit" class="display-1 btn btn-primary btn-block">Adicionar</button>
            <a class="btn btn-secondary btn-block" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
        </form> 
    </div>

</div>
